*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
/*HEADER*/
.header-container{
    background: #232323;
    height: 60px;
    overflow-y: hidden;
}
.logo{
    margin-top: 17px;
}

.search-box{
    position: absolute; 
    margin: auto;
    overflow-y: hidden;
    text-align: center !important;
    
}
.search-box:before{
    content: "\f002";
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-family:'FontAwesome';
    font-weight: 900;
    line-height: 58px;
    margin-left: 392px;
}
.search-icon{
    margin-bottom: 40px; 
    position: absolute;
} 
#search{
    margin: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 54px;
    width: 425px;
    height: 26px;
    outline: none;
    margin-top: 17px;
    background-color: #232323;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.5);;  
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    display: inline-flex;
}
::-webkit-input-placeholder { 
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder { /* Mozilla Firefox  */
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
 }
.start-buttons{
    margin-top: 17px;
}
#sign-in,#register{
    width: 80.62px;
    height: 25.86px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #232323;
    border-radius: 54px;
    border: 2.5px solid #FF4656;
    text-decoration: none;
}
#sign-in{
    left: 77.99%;
    right: 16.48%;
    top: 0.35%;
    bottom: 99.11%;
    
}
#register{
    left: 84.22%;
    right: 10.29%;
   
}
#sign-in:hover{
    background-color:#FF4656 ;
}
 #register:hover{
    background-color:#FF4656 ;
}

/*NAVBAR*/
nav{ 
    
   height: 39px;
   left: 0px;
   top: 60px;
   background: #FFFFFF;
   padding: 13px 0;
   overflow-y: hidden;
}
nav a{  
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
    padding:13px 20px;

}
nav a:hover{
    color: #FF4656;
    transition: ease-in .3s;
}

nav a:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top:30px;
    background-color: #FF4656;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    transition: transform .4s;
}
nav a:hover:after{
    transform: translateX(-48%) scaleX(1);
    -webkit-transform: translateX(-48%) scaleX(1);
}
nav a:nth-child(2):after{
    width: 72%;
}
nav a:nth-child(3):after{
    width: 61%;
}
nav a:nth-child(4):after{
    width: 47%;
}
nav a:nth-child(5):after{
    width: 68%;
}
nav a:nth-child(6):after{
    width: 68%;
}
