*{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
/*HEADER*/
.header-container{
    background: #232323;
    height: 60px;
    overflow-y: hidden;
}
.logo{
    margin-top: 17px;

}
/*
.wrapper{
    max-width: 1108px; 
} */
.search-box{
    position: absolute;
    margin: auto;
    overflow-y: hidden;
}
.search-box:before{
    content: "\f002";
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-family:'FontAwesome';
    font-weight: 900;
    line-height: 58px;
    left: 68%;

}
.search-icon{
    margin-bottom: 40px; 
    margin-left: 50%;
    position: absolute;
    margin-left: 200px;
} 
#search{
    margin: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 54px;
    width: 425px;
    height: 26px;
    margin: auto;
    margin-left: 17.21%; 
    margin-right: 82.25%; 
    margin-top: 17px;
    background-color: #232323;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.5);;  
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder { /* Mozilla Firefox  */
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
 }
.start-buttons{
    margin-top: 17px;
}
#sign-in,#register{
    width: 80.62px;
    height: 25.86px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #232323;
    border-radius: 54px;
    border: 2.5px solid #FF4656;
}
#sign-in{
    left: 77.99%;
    right: 16.48%;
    top: 0.35%;
    bottom: 99.11%;
    text-decoration: none;
}
#register{
    left: 84.22%;
    right: 10.29%;
    text-decoration: none;
}
#sign-in:hover{
    background-color:#FF4656 ;
}
 #register:hover{
    background-color:#FF4656 ;
}

/*NAVBAR*/
nav{ 
   height: 39px;
   left: 0px;
   top: 60px;
   background: #FFFFFF;
   padding: 13px 0;
   overflow-y: hidden;
}
nav a{  
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
    padding:13px 20px;

}
nav a:hover{
    color: #FF4656;;
}

.line{
    width: 38px;
    border: 3px solid #FF4656;
    margin-left: 31.1%;
}
nav a:nth-child(2):hover~ .line{
    width: 91px;
    transform: translate(80px);
}
nav a:nth-child(3):hover~ .line{
    width: 57px;
    transform: translate(214px);
}
nav a:nth-child(4):hover~ .line{
    width: 30px;
    transform: translate(314px);
}
nav a:nth-child(5):hover~ .line{
    width: 80px;
    transform: translate(386px);
}
nav a:nth-child(6):hover~ .line{
    width: 72px;
    transform: translate(510px);
}
#home
{
    background: #ffffff;
    background-image:url('image1.png');
}
